    @import url(./styles/header.css);
    @import url(./styles/banner.css);
    @import url(./styles/carrossel.css);

    :root {
        --cor-de-fundo: #ebecee;
        --branco: #ffffff;
        --laranja: #eb9b00;
        --azul: #002f52;
        --cinza-claro: #c4c4c4;
        --preto: #000000;
        --fonte-principal: "poppins";



    }

    body {
        background-color: var(--cor-de-fundo);
        font-family: var(--fonte-principal);
        font-size: 16px;
        font-weight: 400;
    }

    * {
        margin: 0;
        padding: 0;
    }