    @import url(./style/header.css);

    :root {
        --cor-de-fundo: #ebecee;
        --branco: #ffffff;
        --laranja: #eb9b00;
        --azul: #002f52;
    }

    body {
        background-color: var(--cor-de-fundo);
    }

    * {
        margin: 0;
        padding: 0;
    }