.carrossel {
    color: var(--laranja);
    background-color: var(--branco);
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0 0;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;

}

.swiper-pagination {
    position: initial;
    margin: 0.5em 0;
}

.swiper {
    background-color: var(--cinza-claro);
}

.carrossel__titulo {
    padding-bottom: 0.5em;
}

.card__descrião {
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.card__botoes {
    display: flex;
    justify-content: space-between;
}

.botoes {
    display: flex;
}

.card {
    /* background: var(--branco); */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    margin: 1em 1.5em 1em 0.4;
    padding: 2em 0.5em;


}

.descricao__titulo {
    color: var(--laranja);

    font-size: 16px;
    font-weight: 700;

}

.descricao__titulo-livro {
    font-size: 18px;
    font-weight: 700;
    color: var(--azul);
    margin: 0.5em 0 0.5em 0;
}

.descricao__texto {
    color: var(--preto);
    font-size: 14px;
    /* margin-bottom: 0.5em; */
    font-weight: 400;

}

.botoes__item {
    margin: 2em 0 1em 0;
    padding: 0.25em;
}

.botao__ancora {
    background-color: var(--laranja);
    border: 1px solid;
    border-color: transparent;
    padding: 1em 1.60em;
    text-decoration: none;
    color: var(--branco);
    font-weight: 700;
    margin: 2em 0 1em 0;

}

.descrição {
    margin: 1em;

}