.vendidos {
    text-align: center;
    /* background-color: var(--branco); */
    color: var(--laranja);
    font-size: 18px;
    font-weight: 700;
}

.swiper-slide img {
    width: 100%;
}

.vendidos__titulo {
    background-color: var(--branco);
    width: 100%;
    padding: 0.7em;
    margin-top: 1em;


}

.swiper-pag {
    position: initial;
    margin: 0.5em 0;
}

.card {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    margin: 1em 1.5em 1em 0.4;
    padding: 2em 0.5em;
    background-color: var(--branco);


}